<p style="color: green"><%= notice %></p>

<h1>外部サイト</h1>

<% if current_teacher %>
  <% if current_teacher.teacher %>
    <%= link_to "New out site", new_out_site_path %>
  <% end %>
<% end %>

<div id="out_sites">
  <% @out_sites.each do |out_site| %>
    <p>
      <%= link_to out_site.title, out_site.url %>
      <% if current_teacher %>
        <% if current_teacher.teacher %>
          &nbsp;<%= link_to "edit", edit_out_site_path(out_site) %>
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>

<% if current_teacher %>
  <% if current_teacher.teacher %>
    <%= link_to "New out site", new_out_site_path %>
  <% end %>
<% end %>