<p style="color: green"><%= notice %></p>

<% if current_teacher %>
  <ul>
    <li><%= link_to "Main", mains_path %></li>
    <li><%= link_to "Subject", subjects_path %></li>
    <li><%= link_to "Solution", solutions_path %></li>
    <li><%= link_to "Admin Page", admins_path %></li>
    <li><%= link_to "宿題", homeworks_path %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "計算トレーニング", homeworks_path %></li>
    <li><%= link_to "Sign in", new_teacher_session_path %></li>
  </ul>
<% end %>