<div id="<%= dom_id sort_sentence %>">

  <p>
  
  <% if action_name == "index" %>
    <%= link_to sort_sentence_path(sort_sentence) do %>
      <strong>Sentence:</strong><br>
      <%= sort_sentence.sentence %><br>
      <%= sort_sentence.get_words %>
    <% end %>
  <% else %>
    <strong>Sentence:</strong><br>
    <%= sort_sentence.sentence %><br>
    <%= sort_sentence.get_words %>
  <% end %>
  </p>

</div>
