<div id="<%= dom_id sort_sentence %>">

  <p class="<%= sort_sentence.sentence.gsub(" ", "-") %> <%= sort_sentence.unit_id %>">
  
  <% if action_name == "index" %>
    <%= link_to sort_sentence_path(sort_sentence) do %>
      <%= sort_sentence.unit %><br>
      <%= sort_sentence.sentence %><br>
      <%= sort_sentence.get_words %>
    <% end %>
  <% else %>
    <%= sort_sentence.unit %><br>
    <%= sort_sentence.sentence %><br>
    <%= sort_sentence.get_words %>
  <% end %>
  </p>

</div>
