<%= form_with(model: word) do |form| %>
  <% if word.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @student %>
    <input type="hidden" id="current-time" value="<%= @student.current_time %>">
    <% if @student.current_time == 0 %>
      <select name="word[time]" id="word_time" onchange="changedTimeValue()">
        <option value="1">第1回</option>
      </select>
    <% else %>
      <select name="word[time]" id="word_time" onchange="changedTimeValue()">
        <option value="<%= @student.current_time %>" selected>第<%= @student.current_time %>回</option>
        <option value="<%= @student.current_time + 1 %>">第<%= @student.current_time + 1 %>回</option>
      </select>
    <% end %>
  <% end %>
  
  <div style="display: flex;">
    <div>
      <%= form.label :word, style: "display: block" %>
      <%= form.text_field :word, style: "font-size: 2em;" %><br><br>
      <button type="button" onclick="toPrototype()">原型にする</button>
      <button type="button" onclick="translateTo()">翻訳する</button>
    </div>
    　
    <div>
      <%= form.label :mean, style: "display: block" %>
      <%= form.text_field :mean, style: "font-size: 2em;" %>
    </div>
  </div>

  <div style="margin-top: 10px;">
    <%= form.submit %>
  </div>

<% end %>

<script type="text/javascript">
  $("#word_word").focus();
</script>


<script type="text/javascript">
  function changedTimeValue() {
    let id = "#" + $("#current-time").val();
    if ( $("#word_time").val() == $("#current-time").val() ) {
      $(id).attr("style", "margin: 0 auto;");
    } else {
      $(id).attr("style", "display: none;");
    }
  }

  function toPrototype(){
    let words= $("#word_word").val().split(" ");
    set_csrftoken();
    $.post("/prototype", {words: words}, function(data){
      $("#word_word").val(data);
    });
  }

  function translateTo(){
    var word = $("#word_word").val();
    if(word === ""){
      word = $("#word_mean").val();
      if(word !== ""){
        translateToEn(word);
      }
    }
    translateToJp(word);
  }

  function translateToEn(word){
    set_csrftoken();
    $.post("/translate", {word: word, to: "en", from: "ja"}, function(data){
      $("#word_word").val(data);
    });
  }

  function translateToJp(word){
    set_csrftoken();
    $.post("/translate", {word: word, to: "ja", from: "en"}, function(data){
      $("#word_mean").val(data);
    });
  }
  
  function set_csrftoken() {
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
      if (!options.crossDomain) {
        const token = $('meta[name="csrf-token"]').attr('content');
        if (token) {
          return jqXHR.setRequestHeader('X-CSRF-Token', token);
        }
      }
    });
  }
</script>