<p style="color: green"><%= notice %></p>

<p class="no-print"><%= link_to "トレーニングトップ", homeworks_path %>　<button onclick="window.print();">印刷</button></p>

<h1 class="no-print">Words　<%= @student.name + "（" + @student.affiliation + "-" + @student.birthday.to_s + "）" %></h1>

<div class="no-print">
  <% if @student.current_time != 0 %>
    <%= link_to "単語テストをする",  words_test_path %><br><br>
  <% end %>

  <input type="hidden" id="current-time" value="<%= @student.current_time %>">
  <select onchange="changeTime()" id="time">
    <% for i in 0..@student.current_time do %>
        <% if i == 0 %>
          <option value="0">全部</option>
        <% else %>
          <% j = @student.current_time - i + 1 %>
          <option value="<%= j %>">第<%= j %>回</option>
        <% end %>
    <% end %>
  </select>
  <br><br>

  <%= link_to "New word", new_word_path %>
</div>

<div id="words">
  <hr>
  <% current_time = 0 %>
  <% @words.each do |word| %>
    <% if current_time != word.time %>
      <% current_time = word.time %>
      <hr class="<%= word.time %>">
      <h3 class="<%= word.time %>">
        第<%= word.time %>回
      </h3>
      <hr class="<%= word.time %>">
      <hr class="<%= word.time %>">
    <% end %>
    <div class="<%= word.time %>">
      <%= render word %>
      <% if current_teacher %>
        <% if current_teacher.teacher %>
          <p class="no-print">
            <%= link_to "Show this word", word %>
            　
            <button onclick="mistake(<%= word.id %>);">間違えた</button>
          </p>
        <% end %>
      <% end %>
      <hr>
    </div>
  <% end %>
  <hr>
</div>

<div class="no-print">
  <%= link_to "New word", new_word_path %>
</div>

<script type="text/javascript">
  function changeTime(){
    let timeVal = $("#time").val();
    console.log(timeVal);
    if (timeVal == "0") {
      for (let i = 0; i <= Number( $("#current-time").val() ); i++) {
        $("." + i).attr("style", "");
      }
    } else {
      for (let i = 0; i <= Number( $("#current-time").val() ); i++) {
        if (i == Number(timeVal) ) {
          $("." + i).attr("style", "");
        } else {
          $("." + i).attr("style", "display: none;");
        }
      }
    }
  }

  function mistake(id) {
    let val = Number($("#mistake-" + id).html());
    $("#mistake-" + id).html( val + 1 );
    $.get("/words/mistake/" + id + ".json", function(data) {
      console.log(data);
      $("#mistake-" + id).html(data.mistake_num);
    });
  }
</script>