<p style="color: green"><%= notice %></p>

<h1>New word</h1>

<%= render "form", word: @word %>

<table id="<%= @student.current_time %>" style="margin: 0 auto;">
  <% num = 5 %>
  <tr>
    <% @current_time_words.each_with_index do |word, index| %>
      <td align="center"><%= link_to word.word, word %></td>
      <td align="center"><%= word.mean %></td>
      <% if index % num == num - 1 && index != @current_time_words.length - 1 %>
        </tr><tr>
      <% elsif index != @current_time_words.length - 1 %>
        <td>　</td>
      <% end %>
    <% end %>
  </tr>
</table>

<br>

<div>
  <%= link_to "Back to words", words_path %>
</div>
