<% 
  def gcd x,y
    if y == 0
      return x
    elsif x % y == 0
      if y < 0
        return -y
      else
        return y
      end
    else
      return gcd y, x % y
    end
  end
%>
<script type="text/javascript" asyncsrc="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG"></script>
<p class="no-print"><%= link_to "トレーニングトップ", homeworks_path %>　<button onclick="window.print();">印刷</button></p>
<h1>方程式</h1>

<div class="no-print">
  解答付き<input type='range' id='status' value='<%= session["equation"]["status"] if session[:equation] %><%= 0 unless session[:equation] %>' min='0' max='1' style='width:2em;' onchange='changeStatus()'>問題のみ<br>

  <input type="radio" name="level" onclick="levelChanged(1)" class="1"
    <% if session["equation"] %>
      <% if session["equation"]["level"] == 1 || session["equation"]["level"] == nil %>
        checked
      <% end %>
    <% else %>
     checked
    <% end %>
  >一次方程式
  <input type="radio" name="level" onclick="levelChanged(2)" class="2"
    <% if session["equation"] %>
      <% if session["equation"]["level"] == 2 %>
        checked
      <% end %>
    <% end %>
  >二元一次方程式
  <input type="radio" name="level" onclick="levelChanged(3)" class="3"
    <% if session["equation"] %>
      <% if session["equation"]["level"] == 3 %>
        checked
      <% end %>
    <% end %>
  >二次方程式
  <input type="radio" name="level" onclick="levelChanged(4)" class="4"
    <% if session["equation"] %>
      <% if session["equation"]["level"] == 4 %>
        checked
      <% end %>
    <% end %>
  >三元一次方程式
</div>
<table class="lv-1">
  <tr>
    <% @array1.each_with_index do |unit, index| %>
      <td style="height: 22vw; width:49vw;" valign="top">
        <% if unit[0][0] + unit[2][0] == 0 %>
          <% if unit[2][1] == 0 %>
            0
          <% end %>
        <% elsif unit[0][0] + unit[2][0] == 1 %>
          x
        <% elsif unit[0][0] + unit[2][0] == -1 %>
          -x
        <% else %>
          <%= unit[0][0] + unit[2][0] %>x
        <% end %>
        <%  if unit[2][1] == 0 %>
        <% elsif unit[2][1] > 0 %>
          <% if unit[0][0] + unit[2][0] != 0 %>
						+
          <% end %>
	        <%= unit[2][1] %>
				<% else %>
	        <%= unit[2][1] %>
        <% end %>

        =
        <% if unit[2][0] == 0 %>
          <% if unit[1][0] * unit[0][0] + unit[2][1] == 0 %>
            0
          <% end %>
        <% elsif unit[2][0] == 1 %>
          x
        <% elsif unit[2][0] == -1 %>
          -x
        <% else %>
          <%= unit[2][0]%>x
        <% end %>
        <% if unit[1][0] * unit[0][0] + unit[2][1] == 0 %>
        <% elsif unit[1][0] * unit[0][0] + unit[2][1] > 0 %>
          <% if unit[2][0] != 0 %>
						+
          <% end %>
          <%= unit[1][0] * unit[0][0] + unit[2][1] %>
        <% else %>
          <%= unit[1][0] * unit[0][0] + unit[2][1] %>
				<% end %>
      </td>
      <% if index % 2 == 1 && index != 9 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>

<div class="answer lv-1">
  <div style="break-after: page;"></div>
  <% @array1.each do |unit| %>
    <p>
      <% if unit[0][0] + unit[2][0] == 0 %>
      <% elsif unit[0][0] + unit[2][0] == 1 %>
        x
      <% elsif unit[0][0] + unit[2][0] == -1 %>
        -x
      <% else %>
        <%= unit[0][0] + unit[2][0] %>x
      <% end %>
      <%  if unit[2][1] == 0 %>
      <% elsif unit[2][1] > 0 %>
        + <%= unit[2][1] %>
      <% else %>
        <%= unit[2][1] %>
      <% end %>
      =
      <% if unit[2][0] == 0 %>
      <% elsif unit[2][0] == 1 %>
        x
      <% elsif unit[2][0] == -1 %>
        -x
      <% else %>
        <%= unit[2][0]%>x
      <% end %>
      <% if unit[1][0] * unit[0][0] + unit[2][1] == 0 %>
      <% elsif unit[1][0] * unit[0][0] + unit[2][1] > 0 %>
        + <%= unit[1][0] * unit[0][0] + unit[2][1] %>
      <% else %>
        <%= unit[1][0] * unit[0][0] + unit[2][1] %>
      <% end %><br>
      x=<%= unit[1][0] %>
    </p>
  <% end %>
</div>

<table class="lv-2">
  <tr>
    <% @array2.each_with_index do |unit, index| %>
      <td style="height: 40vw; width:49vw;" valign="top">
        <math>
          <mfenced>
            <mo>{</mo>
            <mtable columnalign="left">
            <mtr>
              <mtd>
                <% if unit[0][0] == 0 %>
                <% elsif unit[0][0] == 1 %>
                  x
                <% elsif unit[0][0] == -1 %>
                  -x
                <% else %>
                  <%= unit[0][0] %>x
                <% end %>

                <% if unit[0][1] == 0 %>
                <% elsif unit[0][1] == 1 %>
                  <% if unit[0][0] == 0 %>
                    y
                  <% else %>
                    +y
                  <% end %>
                <% elsif unit[0][1] == -1 %>
                  -y
                <% elsif unit[0][1] > 0 %>
                  <% if unit[0][0] == 0 %>
                    <%= unit[0][1] %>y
                  <% else %>
                    +<%= unit[0][1] %>y
                  <% end %>
                <% else %>
                  <%= unit[0][1] %>y
                <% end %>
                =
                <%= unit[0][0] * unit[2][0] + unit[0][1] * unit[2][1]%>
              </mtd>
            </mtr>
            <mtr>
              <mtd>
                <% if unit[1][0] == 0 %>
                <% elsif unit[1][0] == 1 %>
                  x
                <% elsif unit[1][0] == -1 %>
                  -x
                <% else %>
                  <%= unit[1][0] %>x
                <% end %>

                <% if unit[1][1] == 0 %>
                <% elsif unit[1][1] == 1 %>
                  <% if unit[1][0] == 0 %>
                    y
                  <% else %>
                    +y
                  <% end %>
                <% elsif unit[1][1] == -1 %>
                  -y
                <% elsif unit[1][1] > 0 %>
                  <% if unit[1][0] == 0 %>
                    <%= unit[1][1] %>y
                  <% else %>
                    +<%= unit[1][1] %>y
                  <% end %>
                <% else %>
                  <%= unit[1][1] %>y
                <% end %>
                =
                <%= unit[1][0] * unit[2][0] + unit[1][1] * unit[2][1]%>
              </mtd>
            </mtr>
          </mtable>
        </mfenced>
      </math>
      </td>
      <% if index % 2 == 1 && index != 5 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>
<div class="answer lv-2">
  <div style="break-after: page;"></div>
  <% @array2.each do |unit| %>
    <p>
      <math>
        <mfenced>
          <mo>{</mo>
          <mtable columnalign="left">
          <mtr>
            <mtd>
              <% if unit[0][0] == 0 %>
              <% elsif unit[0][0] == 1 %>
                x
              <% elsif unit[0][0] == -1 %>
                -x
              <% else %>
                <%= unit[0][0] %>x
              <% end %>

              <% if unit[0][1] == 0 %>
              <% elsif unit[0][1] == 1 %>
                <% if unit[0][0] == 0 %>
                  y
                <% else %>
                  +y
                <% end %>
              <% elsif unit[0][1] == -1 %>
                -y
              <% elsif unit[0][1] > 0 %>
                <% if unit[0][0] == 0 %>
                  <%= unit[0][1] %>y
                <% else %>
                  +<%= unit[0][1] %>y
                <% end %>
              <% else %>
                <%= unit[0][1] %>y
              <% end %>
              =
              <%= unit[0][0] * unit[2][0] + unit[0][1] * unit[2][1]%>
            </mtd>
          </mtr>
          <mtr>
            <mtd>
              <% if unit[1][0] == 0 %>
              <% elsif unit[1][0] == 1 %>
                x
              <% elsif unit[1][0] == -1 %>
                -x
              <% else %>
                <%= unit[1][0] %>x
              <% end %>

              <% if unit[1][1] == 0 %>
              <% elsif unit[1][1] == 1 %>
                <% if unit[1][0] == 0 %>
                  y
                <% else %>
                  +y
                <% end %>
              <% elsif unit[1][1] == -1 %>
                -y
              <% elsif unit[1][1] > 0 %>
                <% if unit[1][0] == 0 %>
                  <%= unit[1][1] %>y
                <% else %>
                  +<%= unit[1][1] %>y
                <% end %>
              <% else %>
                <%= unit[1][1] %>y
              <% end %>
              =
              <%= unit[1][0] * unit[2][0] + unit[1][1] * unit[2][1]%>
            </mtd>
          </mtr>
          </mtable>
        </mfenced>
      </math><br>
      (x,y) = (<%= unit[2][0] %>, <%= unit[2][1] %>)
    </p>
  <% end %>
</div>

<table class="lv-3">
  <tr>
    <% @array3.each_with_index do |unit, index| %>
      <td style="height: 22vw; width:49vw;" valign="top">
        <% if unit[0] == 1 %>
          <%# 因数分解 %>
          <% a = unit[1] %>
          <% b = (unit[2] + unit[3])* unit[1] %>
          <% c = unit[1] * unit[2] * unit[3] %>
        <% else %>
          <%# 解の公式 %>
          <% a = unit[1] %>
          <% b = unit[2] %>
          <% c = unit[3] %>
        <% end %>
        <% if a != 1 %>
          <%= a %>
        <% end %>
        x^2
        
        <% if b == 0 %>
        <% elsif b == -1 %>
          - x
        <% elsif b < 0%>
          <%= b %>x
        <% elsif b == 1 %>
          + x
        <% else %>
          +<%= b %>x
        <% end %>

        <% if c == 0 %>
        <% elsif c < 0 %>
          <%= c %>
        <% else %>
          +<%= c %>
        <% end %>
      =0
      </td>
      <% if index % 2 == 1 && index != 9 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>
<div class="lv-3 answer">
  <div style="break-after: page;"></div>
  <% @array3.each do |unit| %>
    <p>
      <% if unit[0] == 1 %>
        <%# 因数分解 %>
        <% a = unit[1] %>
        <% b = (unit[2] + unit[3])* unit[1] %>
        <% c = unit[1] * unit[2] * unit[3] %>
      <% else %>
        <%# 解の公式 %>
        <% a = unit[1] %>
        <% b = unit[2] %>
        <% c = unit[3] %>
      <% end %>
      <% if a != 1 %>
        <%= a %>
      <% end %>
      x^2
      
      <% if b == 0 %>
      <% elsif b == -1 %>
        - x
      <% elsif b < 0%>
        <%= b %>x
      <% elsif b == 1 %>
        + x
      <% else %>
        +<%= b %>x
      <% end %>

      <% if c == 0 %>
      <% elsif c < 0 %>
        <%= c %>
      <% else %>
        +<%= c %>
      <% end %>
      =0
      <br>
      <% if unit[0] == 1 %>
        <%# 因数分解 %>
        <% if unit[2] == unit[3] %>
          x=
          <% if unit[2] <= 0 %>
            <%= -unit[2] %>
          <% else %>
            -<%= unit[2] %>
          <% end %>
        <% elsif unit[2] > unit[3] %>
          x=
          <% if unit[2] <= 0 %>
            <%= -unit[2] %>
          <% else %>
            -<%= unit[2] %>
          <% end %>
          ,
          <% if unit[3] <= 0 %>
            <%= -unit[3] %>
          <% else %>
            -<%= unit[3] %>
          <% end %>
        <% else %>
          x=
          <% if unit[3] <= 0 %>
            <%= -unit[3] %>
          <% else %>
            -<%= unit[3] %>
          <% end %>
          ,
          <% if unit[2] <= 0 %>
            <%= -unit[2] %>
          <% else %>
            -<%= unit[2] %>
          <% end %>
        <% end %>
      <% else %>
        <%# 解の公式 %>
        <% a = unit[1] * 2 %>
        <% b = unit[2] * -1 %>
        <% c = unit[2] * unit[2] - 4 * unit[1] * unit[3] %>
        <% d = @transform_dic[c][0] %>
        <% e = @transform_dic[c][1] %>
        <% if d == 0 %>
        <%# 重解 %>
          <% g = gcd(a,b) %>
          <% if a == g %>
            x = <%= b/g %>
          <% elsif b<0  %>
            <table>
              <tr><td rowspan="2">x =- </td><td style="border-bottom: solid 1px #000;"><%= -b/g %></td></tr>
              <tr><td align="center"><%= a/g %></td></tr>
            </table>
          <% else %>
            <table>
              <tr><td rowspan="2">x =</td><td style="border-bottom: solid 1px #000;"><%= b/g %></td></tr>
              <tr><td align="center"><%= a/g %></td></tr>
            </table>
          <% end %>
        <% elsif e == 1 %>
        <%# ルートが外せる %>
          <table>
            <tr>
              <td rowspan="2">x =</td>
              <td rowspan="2"><%= "-" if b-d < 0%></td>
              <% if a == gcd(a,b-d) %>
                <td align="center" rowspan="2"><%= ((b-d)/gcd(a,b-d)).abs %></td>
              <% else %>
                <td align="center" style="border-bottom: solid 1px #000;"><%= ((b-d)/gcd(a,b-d)).abs %></td>
              <% end %>
              <td></td>
              <td rowspan="2"><%= "-" if b+d < 0%></td>
              <% if a == gcd(a,b+d) %>
                <td align="center" rowspan="2"><%= ((b+d)/gcd(a,b+d)).abs %></td>
              <% else %>
                <td align="center" style="border-bottom: solid 1px #000;"><%= ((b+d)/gcd(a,b+d)).abs %></td>
              <% end %>
            </tr>
            <tr>
              <% if a != gcd(a,b-d) %>
                <td align="center"><%= a/gcd(a,b-d) %></td>
              <% end %>
              <td>,</td>
              <% if a != gcd(a,b+d) %>
                <td align="center"><%= a/gcd(a,b+d) %></td>
              <% end %>
            </tr>
          </table>
        <% else %>
        <%# 解の公式の形 %>
          <% g = gcd(a,gcd(b,d)) %>
          <% if a == g %>
            x = <%= b/g unless b == 0 %> ± <%= d/g unless d == g %>√<%=e%>
          <% else %>
            <table>
              <tr><td rowspan="2">x = </td><td style="border-bottom: solid 1px #000;"><%= b/g %> ± <%= d/g unless d == g %>√<%=e%></td></tr>
              <tr><td align="center"><%= a/g %></td></tr>
            </table>
          <% end %>
          
        <% end %>
      <% end %>
      
    </p>
  <% end %>
</div>

<table class="lv-4">
  <tr>
    <% @array4.each_with_index do |unit, index| %>
      <td style="height: 60vw; width:49vw;" valign="top">
        <math>
          <mfenced>
            <mo>{</mo>
            <mtable columnalign="left">
            <% array = ["x","y","z"] %>
            <% for i in 0..2 %>
              <mtr>
                <mtd>
                  <% for j in 0..2 %>
                    <% if unit[i][j] == 0 %>
                    <% elsif unit[i][j] == 1 %>
                      <% case j %>
                      <% when 1 %> 
                        <% if unit[i][0] != 0 %>
                          +
                        <% end %>
                      <% when 2 %>
                        <% if unit[i][0] != 0 || unit[i][1] != 0 %>
                          +
                        <% end %>
                      <% end %>
                      <%= array[j] %>
                    <% elsif unit[i][j] == -1 %>
                      -<%= array[j] %>
                    <% else %>
                      <% if j != 0 && unit[i][j] > 0 %>
                      <% case j %>
                      <% when 1 %> 
                        <% if unit[i][0] != 0 %>
                          +
                        <% end %>
                      <% when 2 %>
                        <% if unit[i][0] != 0 || unit[i][1] != 0 %>
                          +
                        <% end %>
                      <% end %>
                      <% end %>
                      <%= unit[i][j] %><%= array[j] %>
                    <% end %>
                  <% end %>
                  =
                  <% b = 0 %>
                  <% for j in 0..2 %>
                    <% b = b + unit[i][j] * unit[3][j] %>
                  <% end %>
                  <%= b %>
                </mtd>
              </mtr>
            <% end %>
          </mtable>
        </mfenced>
      </math>
      </td>
    <% end %>
  </tr>
</table>
<div class="answer lv-4">
  <div style="break-after: page;"></div>
  <% @array4.each do |unit| %>
      <p>
        <math>
          <mfenced>
            <mo>{</mo>
            <mtable columnalign="left">
            <% array = ["x","y","z"] %>
            <% for i in 0..2 %>
              <mtr>
                <mtd>
                  <% for j in 0..2 %>
                    <% if unit[i][j] == 0 %>
                    <% elsif unit[i][j] == 1 %>
                      <% case j %>
                      <% when 1 %> 
                        <% if unit[i][0] != 0 %>
                          +
                        <% end %>
                      <% when 2 %>
                        <% if unit[i][0] != 0 || unit[i][1] != 0 %>
                          +
                        <% end %>
                      <% end %>
                      <%= array[j] %>
                    <% elsif unit[i][j] == -1 %>
                      -<%= array[j] %>
                    <% elsif unit[i][j] > 0%>
                      <% case j %>
                      <% when 1 %> 
                        <% if unit[i][0] != 0 %>
                          +
                        <% end %>
                      <% when 2 %>
                        <% if unit[i][0] != 0 || unit[i][1] != 0 %>
                          +
                        <% end %>
                      <% end %>
                      <%= unit[i][j] %><%= array[j] %>
                    <% else %>
                      <%= unit[i][j] %><%= array[j] %>
                    <% end %>
                  <% end %>
                  =
                  <% b = 0 %>
                  <% for j in 0..2 %>
                    <% b = b + unit[i][j] * unit[3][j] %>
                  <% end %>
                  <%= b %>
                </mtd>
              </mtr>
            <% end %>
          </mtable>
        </mfenced>
      </math><br>
      (x,y,z) = (<%= unit[3][0] %>, <%= unit[3][1] %>, <%= unit[3][2] %>)
      </p>
    <% end %>
</div>

<script type="text/javascript">
  function levelChanged(level){
    for (let index = 1; index <= 4; index++) {
      console.log(index);
        let id = ".lv-" + index;
        $(id).attr("style","display:none;");
    }
    let id = ".lv-" + level;
    $(id).attr("style","");
    sendSelections();
  }

  function changeStatus(){
    if ( $("#status").val() == "0" ) {
      $("#answer").attr("style", "");
    } else{
      $("#answer").attr("style", "display: none;");
    }
    sendSelections()
  }

  
  function getSelections(){
    var level = 1;
    for (const elem of $("input[name='level']")) {
      if( $(elem).prop("checked") ){
        level = Number($(elem).attr("class"));
      }
    }
    return {pageName: "equation", status: $("#status").val(), level: level};
  }

  function setSelections(){
    var level = 1;
    for (const elem of $("input[name='level']")) {
      if( $(elem).prop("checked") ){
        level = Number($(elem).attr("class"));
      }
    }
    levelChanged(level);
    changeStatus();
  }

  setSelections()

  function sendSelections(){
    setCSRFtoken();
    $.ajax({
      type: "POST",
      url: "/set-training-session",
      data: getSelections()
    })
    .done(function(data){
      console.log(data);
    })
    .fail(function(){
      alert("Failed to send settng to server!");
    })
  }

  function setCSRFtoken() {
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
      if (!options.crossDomain) {
        const token = $('meta[name="csrf-token"]').attr('content');
        if (token) {
          return jqXHR.setRequestHeader('X-CSRF-Token', token);
        }
      }
    });
  }
</script>