<% 
  def gcd x,y
    if y == 0
      return x
    elsif x % y == 0
      if y < 0
        return -y
      else
        return y
      end
    else
      return gcd y, x % y
    end
  end
%>

<p><%= link_to "計算トレーニングトップ", homeworks_path %></p>
<h2>因数分解</h2>
解答付き<input type='range' id='status' value='0' min='0' max='1' style='width:2em;' onchange='changeStatus()'>問題のみ
<div id='homework'>
  以下の二次式を因数分解してね。　　名前　　　　　　　　　　　　　　分　　秒
  <% @array.each do |single| %>
    <div style="height: 25vw;">
      <% if single[0] * single[2] == 1%>
        x^2
      <% else %>
        <%= single[0] * single[2] %> x^2
      <% end %>

      <% if single[0] * single[3] + single[1] * single[2] == 0 %>
      <% elsif single[0] * single[3] + single[1] * single[2] == 1 %>
        +x
      <% elsif single[0] * single[3] + single[1] * single[2] == -1 %>
        -x
      <% elsif single[0] * single[3] + single[1] * single[2] < 0 %>
        <%= single[0] * single[3] + single[1] * single[2] %>x
      <% else %>
        +<%= single[0] * single[3] + single[1] * single[2] %>x
      <% end %>

      <% if single[1] * single[3] == 0 %>
      <% elsif single[1] * single[3] < 0 %>
        <%= single[1] * single[3] %>
      <% else %>
        +<%= single[1] * single[3] %>
      <% end %>
    </div>
  <% end %>
</div>

<div style="break-after: page;"></div>

<div id="answer">
  以下の二次式を因数分解してね。　　名前　　　　　　　　　　　　
  <% @array.each do |single| %>
    <div style="margin-top: 1em;">
      　
      <% if single[0] * single[2] == 1%>
        x^2
      <% else %>
        <%= single[0] * single[2] %> x^2
      <% end %>

      <% if single[0] * single[3] + single[1] * single[2] == 0 %>
      <% elsif single[0] * single[3] + single[1] * single[2] == 1 %>
        +x
      <% elsif single[0] * single[3] + single[1] * single[2] == -1 %>
        -x
      <% elsif single[0] * single[3] + single[1] * single[2] < 0 %>
        <%= single[0] * single[3] + single[1] * single[2] %>x
      <% else %>
        +<%= single[0] * single[3] + single[1] * single[2] %>x
      <% end %>

      <% if single[1] * single[3] == 0 %>
      <% elsif single[1] * single[3] < 0 %>
        <%= single[1] * single[3] %>
      <% else %>
        +<%= single[1] * single[3] %>
      <% end %><br>
      
      =

      <%
        gcd_1 = gcd single[0], single[1]
        gcd_2 = gcd single[2], single[3]
        single_gcd = gcd_1 * gcd_2
        single_2 = []
        single_2.push(single[0] / gcd_1)
        single_2.push(single[1] / gcd_1)
        single_2.push(single[2] / gcd_2)
        single_2.push(single[3] / gcd_2)
      %>

      <% unless single_gcd == 1 %>
        <%= single_gcd %>
      <% end%>
      
      <% if single_2[0] == single_2[2] && single_2[1] == single_2[3] %>
        (
        <% if single_2[0] == 1 %>
          x
        <% else %>
          <%= single_2[0] %>x
        <% end %>
        <% if single_2[1] < 0 %>
          <%= single_2[1] %>
        <% elsif single_2[1] > 0 %>
          +<%= single_2[1] %>
        <% end %>
        )^2
      <% else %>
        (
        <% if single_2[0] == 1 %>
          x
        <% else %>
          <%= single_2[0] %>x
        <% end %>
        <% if single_2[1] < 0 %>
          <%= single_2[1] %>
        <% elsif single_2[1] > 0 %>
          +<%= single_2[1] %>
        <% end %>
        )(
        <% if single_2[2] == 1 %>
          x
        <% else %>
          <%= single_2[2] %>x
        <% end %>
        <% if single_2[3] < 0 %>
          <%= single_2[3] %>
        <% elsif single_2[3] > 0 %>
          +<%= single_2[3] %>
        <% end %>
        )
      <% end %>
        
        

    </div>
  <% end %>
</div>

<script type="text/javascript">
  function changeStatus(){
    if ( $("#status").val() == "0" ) {
      $("#answer").attr("style", "");
    } else{
      $("#answer").attr("style", "display: none;");
    }
  }
</script>