
<p class="no-print"><%= link_to "計算トレーニングトップ", homeworks_path %>　印刷は「ctrl」+「p」です。</p>
<h2>因数分解</h2>
<div class="no-print">
  解答付き<input type='range' id='status' value='0' min='0' max='1' style='width:2em;' onchange='changeStatus()'>問題のみ<br><br>
</div>
以下の二次式を因数分解してね。　　名前　　　　　　　　　　　　　　分　　秒
<table id='homework'>
  <tr>
    <% @array.each_with_index do |unit, index| %>
      <td style="height: 22vw; width: 49vw;" valign="top">
      x^2
      <% if unit[0] + unit[1] < 0 %>
          <% if unit[0] + unit[1] == -1 %>
              -x
          <% else %>
              <%= unit[0] + unit[1] %>x
          <% end %>
      <% elsif unit[0] + unit[1] > 0 %>
          <% if unit[0] + unit[1] == 1 %>
              +x
          <% else %>
              +<%= unit[0] + unit[1] %>x
          <% end %>
      <% end %>
      <% if unit[0] * unit[1] < 0 %>
          <%= unit[0] * unit[1] %>
      <% elsif unit[0] * unit[1] > 0 %>
          +<%= unit[0] * unit[1] %>
      <% end %>
      </td>
      <% if index % 2 == 1 && index != 9 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>



<div id="answer">
  <div style="break-after: page;"></div>
  以下の二次式を因数分解してね。　　名前　　　　　　　　　　　　
  <% @array.each do |unit| %>
  <div style="margin-top: 1em;">
      　
      x^2
      <% if unit[0] + unit[1] < 0 %>
        <%= unit[0] + unit[1] %>x
      <% elsif unit[0] + unit[1] > 0 %>
        +<%= unit[0] + unit[1] %>x
      <% end %>
      <% if unit[0] * unit[1] < 0 %>
        <%= unit[0] * unit[1] %>
      <% elsif unit[0] * unit[1] > 0 %>
        +<%= unit[0] * unit[1] %>
      <% end %><br>
      
      <% if unit[0] == unit[1] %>
        =(x
        <% if unit[0] < 0 %>
        <%= unit[0] %>
        <% elsif unit[0] > 0%>
        +<%= unit[0] %>
        <% end %>
        )^2
      <% else %>
        =(x
        <% if unit[0] < 0 %>
        <%= unit[0] %>
        <% elsif unit[0] > 0%>
        +<%= unit[0] %>
        <% end %>
        )(x
        <% if unit[1] < 0 %>
        <%= unit[1] %>
        <% elsif unit[1] > 0%>
        +<%= unit[1] %>
        <% end %>
        )
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function changeStatus(){
    if ( $("#status").val() == "0" ) {
      $("#answer").attr("style", "");
    } else{
      $("#answer").attr("style", "display: none;");
    }
  }
</script>