<p class="no-print"><%= link_to "トレーニングトップ", homeworks_path %>　<button onclick="window.print();">印刷</button></p>
<div style="display: flex;">
  <h1>速さの計算</h1>
  <%= image_tag "training-qr.jpg", style: "width: 4rem; height: 4rem; margin: auto;" %>
</div>

<div class="no-print">
  解答付き<input type='range' id='status' value='<%= session["utilization_of_data"]["status"] unless session["utilization_of_data"].blank? %><%= 0 if session[:utilization_of_data].blank?%>' min='0' max='1' style='width:2em;' onchange='changeStatus()'>問題のみ
</div>

<table>
  <tr>
    <% @speed_array.each_with_index do |unit, index| %>
      <td style="height: 22vw; width:49vw;" valign="top">
        <% case unit[:answer_mode] %>
        <% when 0 %>
          <%# 速さを答える問題 %>
          <%= unit[:time]  %>
          <% distance = unit[:time] * unit[:speed] %>
          <% case unit[:time_mode] %>
          <% when 0 %>
            秒
          <% when 1 %>
            <% distance = distance * 60 %>
            分
          <% when 2 %>
            時間
            <% distance = distance * 3600 %>
          <% end %>
          かけて
          <% case unit[:distance_mode] %>
          <% when 0 %>
            <%= distance / 1000.0 %>km
          <% when 1 %>
            <%= distance %>m
          <% end %>
          移動したときの速さは
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速何m
          <% when 1 %>
            分速何m
          <% when 2 %>
            時速何km
          <% end %>
          ですか。
        <% when 1 %>
          <%# 時間を答える問題 %>
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速<%= unit[:speed] %>m
          <% when 1 %>
            分速<%= unit[:speed] * 60 %>m
          <% when 2 %>
            時速<%= unit[:speed] * 3.6 %>km
          <% end %>
          で
          <% time_unit = "" %>
          <% distance = unit[:time] * unit[:speed] %>
          <% case unit[:time_mode] %>
          <% when 0 %>
            <% time_unit = "秒" %>
          <% when 1 %>
            <% time_unit = "分" %>
            <% distance = distance * 60 %>
          <% when 2 %>
            <% time_unit = "時間" %>
            <% distance = distance * 3600 %>
          <% end %>
          <% case unit[:distance_mode] %>
          <% when 0 %>
            <%= distance / 1000.0 %>km
          <% when 1 %>
            <%= distance %>m
          <% end %>
          移動したときの時間は何<%= time_unit %>ですか。
        <% when 2 %>
          <%# 距離を答える問題 %>
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速<%= unit[:speed] %>m
          <% when 1 %>
            分速<%= unit[:speed] * 60 %>m
          <% when 2 %>
            時速<%= unit[:speed] * 3.6 %>km
          <% end %>
          で
          <%= unit[:time]  %>
          <% case unit[:time_mode] %>
          <% when 0 %>
            秒
          <% when 1 %>
            分
          <% when 2 %>
            時間
          <% end %>
          移動すると何
          <% case unit[:distance_mode] %>
          <% when 0 %>
            km
          <% when 1 %>
            m
          <% end %>
          移動することになりますか？
        <% end %>
      </td>
      <% if index % 2 == 1 && index != 9 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>

<table class="answer">
  <tr>
    <% @speed_array.each_with_index do |unit, index| %>
      <td style="height: 22vw; width:49vw;" valign="top">
        <% case unit[:answer_mode] %>
        <% when 0 %>
          <%# 速さを答える問題 %>
          <%= unit[:time] %>
          <% distance = unit[:time] * unit[:speed] %>
          <% case unit[:time_mode] %>
          <% when 0 %>
            秒
          <% when 1 %>
            <% distance = distance * 60 %>
            分
          <% when 2 %>
            時間
            <% distance = distance * 3600 %>
          <% end %>
          かけて
          <% case unit[:distance_mode] %>
          <% when 0 %>
            <%= distance / 1000.0 %>km
          <% when 1 %>
            <%= distance %>m
          <% end %>
          移動したときの速さは
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速何m
          <% when 1 %>
            分速何m
          <% when 2 %>
            時速何km
          <% end %>
          ですか。<br>
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速<%= unit[:speed] %>m
          <% when 1 %>
            分速<%= unit[:speed] * 60 %>m
          <% when 2 %>
            時速<%= unit[:speed] * 3.6 %>km
          <% end %>

        <% when 1 %>
          <%# 時間を答える問題 %>
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速<%= unit[:speed] %>m
          <% when 1 %>
            分速<%= unit[:speed] * 60 %>m
          <% when 2 %>
            時速<%= unit[:speed] * 3.6 %>km
          <% end %>
          で
          <% time_unit = "" %>
          <% distance = unit[:time] * unit[:speed] %>
          <% case unit[:time_mode] %>
          <% when 0 %>
            <% time_unit = "秒" %>
          <% when 1 %>
            <% time_unit = "分" %>
            <% distance = distance * 60 %>
          <% when 2 %>
            <% time_unit = "時間" %>
            <% distance = distance * 3600 %>
          <% end %>
          <% case unit[:distance_mode] %>
          <% when 0 %>
            <%= distance / 1000.0 %>km
          <% when 1 %>
            <%= distance %>m
          <% end %>
          移動したときの時間は何<%= time_unit %>ですか。<br>
          <% case unit[:time_mode] %>
          <% when 0 %>
            <%= unit[:time] %>秒
          <% when 1 %>
            <%= unit[:time] %>分
          <% when 2 %>
            <%= unit[:time] %>時間
          <% end %>
        <% when 2 %>
          <%# 距離を答える問題 %>
          <% case unit[:speed_mode] %>
          <% when 0 %>
            秒速<%= unit[:speed] %>m
          <% when 1 %>
            分速<%= unit[:speed] * 60 %>m
          <% when 2 %>
            時速<%= unit[:speed] * 3.6 %>km
          <% end %>
          で
          <%= unit[:time]  %>
          <% distance = unit[:time] * unit[:speed] %>
          <% case unit[:time_mode] %>
          <% when 0 %>
            秒
          <% when 1 %>
            <% distance = distance * 60 %>
            分
          <% when 2 %>
            <% distance = distance * 3600 %>
            時間
          <% end %>
          移動すると何
          <% case unit[:distance_mode] %>
          <% when 0 %>
            km
          <% when 1 %>
            m
          <% end %>
          移動することになりますか？<br>
          <% case unit[:distance_mode] %>
          <% when 0 %>
            <%= distance / 1000.0 %>km
          <% when 1 %>
            <%= distance %>m
          <% end %>
        <% end %>
      </td>
      <% if index % 2 == 1 && index != 9 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>

<script type="text/javascript">
  function changeStatus(){
    if ( $("#status").val() == "0" ) {
      $(".answer").attr("style", "");
    } else{
      $(".answer").attr("style", "display: none;");
    }
    sendSelections();
  }

  function getSelections(){
    var level = 1;
    for (const elem of $("input[name='level']")) {
      if( $(elem).prop("checked") ){
        level = Number($(elem).attr("class"));
      }
    }
    return {pageName: "speed", status: $("#status").val()};
  }

  function setSelections(){
    changeStatus();
  }

  setSelections();

  function sendSelections(){
    setCSRFtoken();
    $.ajax({
      type: "POST",
      url: "/set-training-session",
      data: getSelections()
    })
    .done(function(data){
      console.log(data);
    })
    .fail(function(){
      alert("Failed to send settng to server!");
    })
  }

  function setCSRFtoken() {
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
      if (!options.crossDomain) {
        const token = $('meta[name="csrf-token"]').attr('content');
        if (token) {
          return jqXHR.setRequestHeader('X-CSRF-Token', token);
        }
      }
    });
  }
</script>