<p class="no-print"><%= link_to "トレーニングトップ", homeworks_path %>　<button onclick="window.print();">印刷</button></p>
<div style="display: flex;">
  <h1>100マス計算</h1>
  <%= image_tag "training-qr.jpg", style: "width: 4rem; height: 4rem; margin: auto;" %>
</div>
<div class="no-print">
    解答付き<input type='range' id='status' value='<%= session["square_calculation"]["status"] if session[:square_calculation] %><%= 0 unless session[:square_calculation] %>' min='0' max='1' style='width:2em;' onchange='changeStatus()'>問題のみ<br>
    足し算<input type='range' id='operator' value='<%= session["square_calculation"]["operator"] if session[:square_calculation] %><%= 0 unless session[:square_calculation] %>' min='0' max='1' style='width:2em;' onchange='changeOperator()'>掛け算<br>
    レベル<input type="range" min="1" max="7" value='<%= session["square_calculation"]["level"] if session[:square_calculation] %><%= 1 unless session[:square_calculation] %>' id='level-input' onchange="levelChanged()"><span id="level-output">1</span>
    <div class="plus">
        数直線<input type='range' id='line' value='<%= session["square_calculation"]["line"] if session[:square_calculation] %><%= 0 unless session[:square_calculation] %>' min='0' max='1' style='width:2em;' onchange='changeLine()'>
    </div>
</div>
名前　　　　　　　　　　　　　　分　　秒
<div id="homework">
    <div class="level-1">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% [1,2,3,4,5,6,7,8,9,10].each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% [1,2,3,4,5,6,7,8,9,10].each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% [1,2,3,4,5,6,7,8,9,10].each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-2" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array3.each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% @array4.each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% @array3.each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>   

     <div class="level-3" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array3.each_with_index do |i, index| %>
                    <th style="width: 9vw;"><%= i * @pm_array[0][index] %></th>
                <% end %>
            </tr>

            <% @array4.each_with_index do |i, index_i| %>
                <tr>
                    <th style="height: 9vw;"><%= i * @pm_array[1][index_i]%></th>
                    <% @array3.each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>   

    <div class="level-4" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% [1,2,3,4,5,6,7,8,9,10].each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% [11,12,13,14,15,16,17,18,19,20].each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% [1,2,3,4,5,6,7,8,9,10].each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-5" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% [11,12,13,14,15,16,17,18,19,20].each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% [11,12,13,14,15,16,17,18,19,20].each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% [11,12,13,14,15,16,17,18,19,20].each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-6" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array1.each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% @array2.each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% @array1.each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-7" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array1.each_with_index do |i, index| %>
                    <th style="width: 9vw;"><%= i * @pm_array[0][index] %></th>
                <% end %>
            </tr>

            <% @array2.each_with_index do |i, index_i| %>
                <tr>
                    <th style="height: 9vw;"><%= i * @pm_array[1][index_i]%></th>
                    <% @array1.each do |j| %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="plus">
        <svg id="num-line" height=50 style="display: none;"></svg>
    </div>

</div>



<div id="answer">
    <div style="break-after: page;"></div>
    名前　　　　　　　　　　　　
    <div class="level-1">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% [1,2,3,4,5,6,7,8,9,10].each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% [1,2,3,4,5,6,7,8,9,10].each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% [1,2,3,4,5,6,7,8,9,10].each do |j| %>
                        <td>
                        <div class="plus">
                            <%= i + j %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-2" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array3.each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% @array4.each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% @array3.each do |j| %>
                        <td>
                        <div class="plus">
                            <%= i + j %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div> 

    <div class="level-3" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array3.each_with_index do |i, index| %>
                    <th style="width: 9vw;"><%= i * @pm_array[0][index] %></th>
                <% end %>
            </tr>

            <% @array4.each_with_index do |i, index_i| %>
                <tr>
                    <th style="height: 9vw;"><%= i * @pm_array[1][index_i]%></th>
                    <% @array3.each_with_index do |j, index_j| %>
                        <td>
                        <div class="plus">
                            <%= i * @pm_array[1][index_i] + j * @pm_array[0][index_j]  %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j * @pm_array[1][index_i] * @pm_array[0][index_j] %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>   

    <div class="level-4" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% [1,2,3,4,5,6,7,8,9,10].each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% [11,12,13,14,15,16,17,18,19,20].each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% [1,2,3,4,5,6,7,8,9,10].each do |j| %>
                        <td>
                        <div class="plus">
                            <%= i + j %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-5" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% [11,12,13,14,15,16,17,18,19,20].each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% [11,12,13,14,15,16,17,18,19,20].each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% [11,12,13,14,15,16,17,18,19,20].each do |j| %>
                        <td>
                        <div class="plus">
                            <%= i + j %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="level-6" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array1.each do |i| %>
                    <th style="width: 9vw;"><%= i %></th>
                <% end %>
            </tr>

            <% @array2.each do |i| %>
                <tr>
                    <th style="height: 9vw;"><%= i %></th>
                    <% @array1.each do |j| %>
                        <td>
                        <div class="plus">
                            <%= i + j %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>  

    <div class="level-7" style="display: none;">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th style="width: 9vw; height: 9vw;"><div class="plus">+</div><div class="multiply" style="display: none;">×</div></th>
                <% @array1.each_with_index do |i, index| %>
                    <th style="width: 9vw;"><%= i * @pm_array[0][index] %></th>
                <% end %>
            </tr>

            <% @array2.each_with_index do |i, index_i| %>
                <tr>
                    <th style="height: 9vw;"><%= i * @pm_array[1][index_i]%></th>
                    <% @array1.each_with_index do |j, index_j| %>
                        <td>
                        <div class="plus">
                            <%= i * @pm_array[1][index_i] + j * @pm_array[0][index_j]  %>
                        </div>
                        <div class="multiply" style="display: none;">
                            <%= i * j * @pm_array[1][index_i] * @pm_array[0][index_j] %>
                        </div>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>  
</div>

<script type="text/javascript">
  function levelChanged(){
    let level = Number( $("#level-input").val() );
    $("#level-output").html(level);
    for (let index = 1; index <= 7; index++) {
        let id = ".level-" + index;
        $(id).attr("style","display:none;");
    }
    let id = ".level-" + level;
    $(id).attr("style","");
    sendSelections();
  }

  function changeStatus(){
    if ( $("#status").val() == "0" ) {
      $("#answer").attr("style", "");
    } else{
      $("#answer").attr("style", "display: none;");
    }
    sendSelections()
  }

  function changeOperator(){
    if ( $("#operator").val() == "0" ) {
      $(".plus").attr("style", "");
      $(".multiply").attr("style", "display: none;");
    } else{
      $(".plus").attr("style", "display: none;");
      $(".multiply").attr("style", "");
    }
    sendSelections()
  }

  function changeLine() {
    if ( $("#line").val() == "0" ) {
      $("#num-line").attr("style", "display: none;");
    } else{
      $("#num-line").attr("style", "width: 100vw").html("");
      drawLine();
    }
    sendSelections()
  }


  function getSelections(){
    return {pageName: "square_calculation", status: $("#status").val(), operator: $("#operator").val(), line: $("#line").val(), level: $("#level-input").val(),};
  }

  function setSelections(){
    levelChanged();
    changeStatus();
    changeLine();
    changeOperator();
  }

  setSelections()

  function sendSelections(){
    setCSRFtoken();
    $.ajax({
      type: "POST",
      url: "/set-training-session",
      data: getSelections()
    })
    .done(function(data){
      console.log(data);
    })
    .fail(function(){
      alert("Failed to send settng to server!");
    })
  }

  function setCSRFtoken() {
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
      if (!options.crossDomain) {
        const token = $('meta[name="csrf-token"]').attr('content');
        if (token) {
          return jqXHR.setRequestHeader('X-CSRF-Token', token);
        }
      }
    });
  }

  function drawLine() {
    var svg1           = document.querySelector("#num-line");
    var init_x         = 20;
    var init_y         = 50;
    var position_x     = 20;
    var position_y     = 50;
    var width          = document.documentElement.clientWidth;
    var offset_x       = width / 80;
    var offset_y       = 0;
    var small_scale    = 5;
    var big_scale      = 10;
    var big_scale_at   = 5;
    var big_scale_from = 0;
    var count          = 41;
    var start_num      = -20;
    var add_num        = 1;

    /* 初期化 */
    [].forEach.call(svg1.querySelectorAll("*"),function(x){x.parentNode.removeChild(x);});
    var p=[];
    p.push([position_x,position_y]);
    for(var i=0;i<count;i++){
      offset_y=(i-big_scale_from)%big_scale_at?small_scale:big_scale;
      p.push([position_x,position_y]);
      position_y-=offset_y
      p.push([position_x,position_y]);
      position_y+=offset_y
      p.push([position_x,position_y]);
      position_x+=offset_x;
    }
    var pl= document.createElementNS('http://www.w3.org/2000/svg', 'polyline');
    pl.setAttribute("id","numberLine");
    pl.setAttribute("stroke","black");
    pl.setAttribute("fill","none");
    svg1.appendChild(pl);

    var point=svg1.createSVGPoint();
    p.forEach(function(n){
      point.x = n[0];
      point.y = n[1];
      document.querySelector("#numberLine").points.appendItem(point);
    });
    var texts=[];
    var adjust_num_y = 2;
    var num=start_num;
    for(var i=big_scale_from;i<count;i+=big_scale_at){
      var adjust_num_x = num.toString().length*5;
      texts.push([num,init_x+offset_x*i-adjust_num_x,init_y-big_scale-adjust_num_y]);
      num+=big_scale_at*add_num;
    }
    texts.forEach(function(x){
      var t= document.createElementNS('http://www.w3.org/2000/svg', 'text');
      t.setAttribute("id","text");
      t.textContent=x[0];
      t.setAttribute("x",x[1]);
      t.setAttribute("y",x[2]);
      svg1.appendChild(t);
    });
  }

</script>