<p>
  <%= link_to "百マス計算", homeworks_square_calculation_path %>
</p>
<p>
  <%= link_to "分数計算", homeworks_fraction_path%>
</p>
<p>
  <%= link_to "展開・因数分解", homeworks_factorization_path %>
</p>
<p>
  <%= link_to "平方完成", homeworks_square_completed_path %>
</p>
<p>
  <%= link_to "単語の暗記", students_path %>
</p>