<p>
  <%= link_to "百マス計算", homeworks_square_calculation_path %>
</p>
<p>
  <%= link_to "分数↔小数の変換", homeworks_decimalizable_fraction_path %>
</p>
<p>
  <%= link_to "最大公約数・最小公倍数", homeworks_gcd_lcm_path %>
</p>
<p>
  <%= link_to "速さの計算", homeworks_speed_path %>
</p>
<p>
  <%= link_to "分数計算", homeworks_fraction_path %>
</p>
<p>
  <%= link_to "方程式", homeworks_equation_path %>
</p>
<p>
  <%= link_to "関数とグラフ", homeworks_graph_path %>
</p>
<p>
  <%= link_to "データの活用", homeworks_utilization_of_data_path %>
</p>
<p>
  <%= link_to "展開・因数分解", homeworks_factorization_path %>
</p>
<p>
  <%= link_to "ルートの計算", homeworks_root_path %>
</p>
<p>
  <%= link_to "平方完成", homeworks_square_completed_path %>
</p>
<p>
  <%= link_to "三角比", homeworks_trigonometric_path %>
</p>