<p style="color: green"><%= notice %></p>

<%= render @main %>

<div>
  <%= link_to "Edit this main", edit_main_path(@main) %> |
  <% if @main.selection_id <= 0 %>
    <%= link_to "Back to mains", mains_path %>
  <% else %>
    <%= link_to "Back to parent", selections_path + "/" + @main.selection_id.to_s %>
  <% end %>

  <%= button_to "Destroy this main", @main, {method: :delete, data: {turbo_confirm: "削除しますか？"}} %>
</div>

<hr>

<% @main.selections.each do |selection| %>
  <% if selection.id %>
    <p>
      <%= link_to selection.text, selection %>
    </p>
  <% else %>
    <%= form_with(model: @main) do |form| %>
      <% index = 1 %>
      <%= form.fields_for :selections do | selection | %>
        <% if index == @main.selections.length %>
          <%= selection.text_field :text, placeholder: "選択肢" %>
          <%= selection.text_field :kana, placeholder: "よみがな" %>
        <% end %>
        <% index = index + 1 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>