<%= form_with(model: sort_unit) do |form| %>
  <% if sort_unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sort_unit.errors.count, "error") %> prohibited this sort_unit from being saved:</h2>

      <ul>
        <% sort_unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :単元を追加, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :学年を選択, style: "display: block" %>
    <%= form.select :grade, options_for_select([1, 2, 3], session[:grade_num]) if session[:grade_num] %>
    <%= form.select :grade, options_for_select([1, 2, 3], 1) unless session[:grade_num] %>
    年
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
