<!DOCTYPE html>
<html>
  <head>
    <title>Textbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="no-print">
      <% unless current_teacher.nil? %>
        <%= button_to "Sign out", destroy_teacher_session_path, {method: :delete, data: {turbo_confirm: "サインアウトしますか？"}} %>
      <% end %>
      <% if action_name != "top" && controller_name != "homeworks" %>
        <div><%= link_to "Topへ", root_path %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
